@import '../../styles/mixins/mediaquries';

.priceContainer {
  display: flex;
  justify-content: space-between;

  @include smMax {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0; 
  }

    p {
      font-weight: 800;
      font-size: 24px;
  }
}

.placeToBasketBtnContainer {
  display: flex;
  justify-content: flex-end;

  button {
    flex: 1;
    height: 50px;
    border: none;
    background: none;
    box-shadow: none;
    padding: 15px 30px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s ease-in;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: #000;
      background: #fff;
    }
  }
}