.sizesContainer {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;

  .sizeBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #000;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    border: 2px solid #9B51E0;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 2px solid #6ACEC9;
    }

    &.active {
      border: 2px solid #6ACEC9;
    }

    p {
      margin: 0;
      padding: 0;
    }

    div {
      &:first-of-type {
        margin: 0;
        p {
          font-size: 40px;
          font-weight: 900;
        }
      }

      &:last-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        p {
          &.price {
            font-size: 20px;
            font-weight: 700;
          }

          &.en {
            font-size: 12px;

            span {
              display: block;
              text-align: right;
            }
          }

          &.hu {
            font-size: 10px;

            span {
              display: block;
              text-align: right;
            }
          }
        }
      }
    }
  }
}