.sizesContainer {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  .sizeBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #000;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    padding: 10px;

    &:hover {
      cursor: pointer;
      color: #fff;
      background: rgba($color: #444, $alpha: 0.5);
    }

    &.active {
      background: #444;
      color: #fff;
    }

    p {
      margin: 0;
    }

    div {
      &:first-of-type {
        margin: 0;
        p {
          font-size: 40px;
          font-weight: 900;
        }
      }

      &:last-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        p {
          &.price {
            font-size: 30px;
          }

          &.desc {
            font-size: 16px;

            span {
              display: block;
              text-align: right;
            }
          }
        }
      }
    }
  }
}