.fontSelectorContainer {
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	.fontSelectorBtn {
		box-shadow: none;
		background: none;
		padding: 8px 12px;
		margin: 5px;
		font-size: 16px;
		transition: all 0.2s ease-in;
		line-height: 1;
		border: none;

		span {
			font-size: 12px;
		}

		&:hover {
			cursor: pointer;
			background: rgba($color: #444, $alpha: 0.5);
			color: #fff;
		}

		&.active {
			background: #444;
			color: #fff;
		}
	}
}