@import '../../../../styles/mixins/accordion';

.fontSelectorContainer {
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border: 2px solid #6ACEC9;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 0;

	.fontSelectorBtn {
		box-shadow: none;
		background: none;
		padding: 8px 0px;
		margin: 5px;
		font-size: 16px;
		transition: all 0.2s ease-in;
		line-height: 1;
		border: none;

		span {
			font-size: 12px;
		}

		&:hover {
			cursor: pointer;
			background: rgba($color: #444, $alpha: 0.5);
			color: #fff;
		}

		&.active {
			background: #444;
			color: #fff;
		}
	}
}

.header {
	@include accordion();
}

.fontsContainer {
	overflow: hidden;
	transition: all 0.2s ease-in-out;

	&.hidden {
		max-height: 0;
		transition: all 0.2s ease-in-out;
	}

	&.open {
		max-height: 500px;
		transition: all 0.2s ease-in-out;
	}
}

.divider {
	height: 20px;
	border-bottom: 2px solid #6ACEC9;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}