@import '../styles/mixins/mediaquries';

.rootContainer {
	display: grid;
	max-width: 1100px;
	margin: 0 auto;
	grid-template-columns: 400px 1fr;
	column-gap: 10px;

	@include lgCustom {
		display: block;
	}
}