.previewModuleContainer {
	display: flex;
	flex-direction: column;

	img {
		max-width: 100%;
	}

	.imageContainer {
		img {
			max-width: 100px
		}
	}

	.preview {
		position: relative;
		display: flex;
		justify-content: center;
		color: #fff;

		p {
			position: absolute;
			font-size: 80px;
			transition: all 0.2s ease-in-out;
		}
	}
}