.previewModuleContainer {
	display: flex;
	flex-direction: column;

	.toggleContainer {
		position: absolute;
		left: 0;
		margin: 10px;

		.toggleBn {
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 900;
			position: relative;
			top: 3px;

			&.off {
				left: -3px;
			}
		}
	}

	img {
		max-width: 100%;
	}

	.imageContainer {
		img {
			max-width: 100px
		}
	}

	.preview {
		position: relative;
		display: flex;
		justify-content: center;
		color: #fff;

		p {
			position: absolute;
			font-size: 80px;
			transition: all 0.2s ease-in-out;
		}
	}
}