@import '../../../../styles/mixins/accordion';

$button-width: 50px;

.colorContainer {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	gap: 10px;
	border: 2px solid #6ACEC9;
	border-radius: 15px;
	padding: 20px;
	margin: 20px 0;
	transition: all 0.2s ease-in;

	&.closed {
		transition: all 0.2s ease-in;
		max-height: 30px;
	}

	.colorSelectorBtn {
		background: none;
		border: none;
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: $button-width;
		height: $button-width;
		padding: 0;

		&:focus {
			outline: none;
		}

		span {
			font-size: 16px;
			margin-top: 10px;
			text-transform: capitalize;
		}
	}

	.colorInnerContainer {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		transition: all 0.2s ease-in-out;
	
		&.hidden {
			max-height: 0;
			transition: all 0.2s ease-in-out;
		}
	
		&.open {
			max-height: 500px;
			transition: all 0.2s ease-in-out;
		}
		
	}
}

.header {
	@include accordion();
}
