$button-width: 50px;

.colorContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	padding: 20px 0;
	gap: 10px;

	.colorSelectorBtn {
		background: none;
		border: none;
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: $button-width;
		height: $button-width;
		padding: 0;

		&:focus {
			outline: none;
		}

		span {
			font-size: 16px;
			margin-top: 10px;
			text-transform: capitalize;
		}
	}
}
